:root {
  --primary-color: #bb86fc;
  --background-dark: #121212;
  --background-light: #ffffff;
  --text-dark: #e0e0e0;
  --text-light: #121212;
  --card-dark: #1f1b24;
  --card-light: #f5f5f5;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
